@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  background:#f2f1e6;
  font-family: "Courier Prime";
  color: #242424;
}


#main {
  background: white;
  border-radius: 50%;
  width: 500px;
  padding: 140px 10px 60px 10px;
  margin: auto;
  text-align:center;
  margin-top: 120px;
}


h2 {
  font-size: 24px;
}

h3 {
  font-size: 32px;
}

#start_stop {
	color: #a61100;
}

#start_stop:hover {
	transition: 1s;
	color: #242424;
}

#reset {
	color: #00750e;
}

#reset:hover {
	transition: 1s;
	color: #242424;
}

.arrow {
	color: #183eba;
}

.btn:focus {
	box-shadow: none;
}

.btn:active {
	box-shadow: none;
}

.btn:hover {
	transition: 1s;
	color: #242424;
}
